:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 200px 3fr;
    /* grid-template-rows: 100px 3fr 1fr; */
    grid-template-areas: 
        ". title"
        "side main"
        "side input";
    background-image: linear-gradient(to right, rgb(249, 176, 188), rgb(249, 193, 202));
}

/* HEADER */

.header-container {
    grid-area: title;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "h1 . . output .";
}

h1 {
   grid-area: h1; 
   align-self: center;
 
}

output{
    grid-area: output;
    align-self: center;
    font-size: xx-large
}

/* SIDE */

.side-container{
    grid-area: side;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 1px solid;
    font-size: large;
    transition: ease-in-out 0.2s;
}

button:hover {
    transform: scale(1.01);
}

button:active{
    box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.5);
    background-color: white;
}

/* MAIN */


.main-container {
    grid-area: main;
    display: flex;
    justify-content: center;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    grid-template-areas: 
        "one two three"
        "four five six"
        "seven eight nine";
    width: 600px;
    height: 400px;
    border: 1px solid black;
    margin-bottom: 40px;
}

article {
    border: 1px solid black;
}

article:hover {
    background-color: rgb(252, 167, 181);
    cursor: pointer;
}

article#data-index-0 {
    grid-area: one;
}

article#data-index-1 {
    grid-area: two;
}

article#data-index-2 {
    grid-area: three;
}

article#data-index-3 {
    grid-area: four;
}

article#data-index-4 {
    grid-area: five;
}

article#data-index-5 {
    grid-area: six;
}

article#data-index-6 {
    grid-area: seven;
}

article#data-index-7 {
    grid-area: eight;
}

article#data-index-8 {
    grid-area: nine;
} 

.mark-X {
    background-image: url(./img/alpha-x.svg);
    background-position: center;
    background-size: cover;
    /* filter: invert(12%) sepia(98%) saturate(6099%) hue-rotate(3deg) brightness(73%) contrast(92%); */

}

.mark-O {
    background-image: url(./img/checkbox-blank-circle-outline.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* filter: invert(34%) sepia(90%) saturate(830%) hue-rotate(170deg) brightness(88%) contrast(99%); */
}

.input-container {
    grid-area: input;
    display: flex;
    justify-content: space-evenly;
}

input{
    width: 180px;
    height: 12px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid;
    font-size: 14px;
}

label {
    font-weight: 500;
}