:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    grid-template-areas: 
        "one two three"
        "four five six"
        "seven eight nine";
    width: 800px;
    height: 400px;
    border: 1px solid black;
}

article {
    border: 1px solid blue;
}

article#data-index-0 {
    grid-area: one;
}

article#data-index-1 {
    grid-area: two;
}

article#data-index-2 {
    grid-area: three;
}

article#data-index-3 {
    grid-area: four;
}

article#data-index-4 {
    grid-area: five;
}

article#data-index-5 {
    grid-area: six;
}

article#data-index-6 {
    grid-area: seven;
}

article#data-index-7 {
    grid-area: eight;
}

article#data-index-8 {
    grid-area: nine;
} 

.mark-X {
    background-color: black;
}

.mark-O {
    background-color: pink;
}
